
/* Grid */
.grid-container {
    margin: 3rem 4rem;
    padding: 5rem 0;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    grid-row-gap: 100px;
    justify-items: center;
    overflow: hidden;
}

.painting {
    width: 617px;
    height: 600px;
    overflow:hidden;
}

/* Boxes */
.box1 {
    width: 0; 
    height: 0; 
    border-top: 150px  solid transparent;
    border-bottom: 150px  solid transparent;
    border-left: 150px  solid #9CA6AF;
    transform: rotate(-135deg);
    grid-column: 1;
    grid-row:1;
    justify-self: start;
    margin-top:-200px;
    margin-left: -49px;
}


.box3 {
    width: 0; 
    height: 0; 
    border-top: 250px  solid transparent;
    border-bottom: 250px  solid transparent;
    border-left: 250px  solid #9CA6AF;
    transform: rotate(135deg);
    grid-column: 2;
    grid-row: 5;
    align-self: center;
    justify-self: start;
    margin-top: -540px;
    margin-left: -97px;
}

.triangle-down {
    width: 0; 
    height: 0; 
    border-top: 114px  solid transparent;
    border-bottom: 114px  solid transparent;
    border-left: 114px solid #70676A;
    transform: rotate(90deg);
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: start;  
    margin-top: -128px;
    margin-left: -78px;
}

  .triangle-right-w {
    width: 0; 
    height: 0; 
    border-top: 200px  solid transparent;
    border-bottom: 200px  solid transparent;
    border-left: 200px  solid #D3C9C1;
    grid-column: 2;
    grid-row: 1;
    justify-self: start; 
    align-self: center; 
    margin-top: 2px;
    margin-left: -60px;
  }
  .triangle-up {
    width: 0; 
    height: 0; 
    border-left: 150px solid transparent;
    border-right: 150px  solid transparent;
    border-bottom: 150px  solid #D3C9C1;
    margin-top: -345px;
    margin-left: -60px;
    grid-column: 1;
    grid-row:5;

  }
  .triangle-right-y {
    width: 0; 
    height: 0; 
    border-top: 250px solid transparent;
    border-bottom: 250px solid transparent;
    border-left: 250px solid #C69C46;
    grid-column: 1;
    justify-self: start;  
    align-self: center;
    grid-row:4;
    margin-left: px;
    margin-top: -100px;
  }
  
  .triangle-left-r {
    width: 0; 
    height: 0; 
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent; 
    border-right: 500px solid rgb(255, 0, 0);
    align-self:center;
    margin-top: -350px; 
    margin-left:-213px;
    justify-self: start;
    grid-column: 3;
    grid-row: 3;
  }

  .triangle-left-b {
    width: 0; 
    height: 0; 
    border-top: 290px solid transparent;
    border-bottom: 290px solid transparent; 
    border-right:290px solid rgb(0, 0, 0); 
    grid-column: 2;
    align-self:center;
    justify-self: start;
    margin-top: -435px;
    margin-left: -100px;
    grid-row: 3;
    grid-column:1;
  }

  /*animations*/
  
  
  .triangle-down:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  body {
    padding: 50px; 
  }
  .triangle-left-b:hover {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

  .box3:hover {
    border-left: 250px  solid #52a2e7;
  }